* {
	font-family: 'Inter';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1920px;
	margin: 0 auto;
}


/* <==================== HEADER ON ====================< */
header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 100px;

}

header h1 a {
	font-size: 26px;
	color: #000;
	text-decoration: none;
	font-weight: 100;
}

header h1 a:hover {
	color: #000;
}

header nav ul {
	display: flex;
	list-style: none;
	font-size: 14px;
	margin: 0;
}

header nav ul li {
	padding: 0 10px;
}

header nav ul li a {
	text-decoration: none;
	color: #000
}

header nav ul li a:hover {
	color: #4e4e4e;
}


header nav ul li a img {
	width: 20px;
}


/* >==================== HEADER OFF ====================> */


/* <==================== MAIN ON ====================< */


/* -------About------ */
#about {
	position: relative;
	display: flex;
	background-color: #F6D2B8;
	padding: 100px;
}

#about .portrait {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

#about .portrait::before {
	content: '';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#about .portrait img {
	width: 100%;
}

#about .about-me {
	flex: 2;
}

#about .about-me h2 {
	margin: 30px 0 60px;
	font-size: 30px;
}

#about .about-me p {
	width: 80%;
	font-size: 14px;
}

#about .about-me .introduction {
	width: 61%;
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	font-size: 16px;
	line-height: 1.2;
	margin: 8px 0;
}


/* ------Gallery------- */
#gallery {
	padding: 100px 100px 0;
}

#gallery h2 {
	text-align: center;
	padding: 1rem 0 2em;
}


#gallery .gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

#gallery ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 0 30px 0;
}

#gallery ul li {
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	margin: 0 10px;
}

#gallery ul li:hover {
	color: #fff;
	background: #968f478f;
}

#gallery ul li.active-tag {
	color: #fff;
	background: #BEB45A;
}

#gallery ul li.active:hover {
	color: #fff;
	background: #BEB45A;
}

#gallery .gallery picture img{
    width: 100%;
    height: 100%;
	max-height: 380px;
    object-fit: cover;
	cursor: pointer;
}

/* ----quotes---- */
.quote {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 50px 0;
}

.quote figure {
	width: 70%;
}

.quote figure blockquote h3, .quote figure blockquote h4 {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 300;
	font-size: 2.5rem;
}

.quote figure figcaption {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
}

/* ----------- */

#services {
	padding: 80px 0 0;
	background-color: #A8D5D8;
	position: relative;
}

#services h2 {
	text-align: center;
	padding: 50px;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding: 2em 0;

}

#services .container::before {
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container .service {
	background: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}



/* --------Contact-------- */

#contact {
	background-color: #D8D3A8;
	position: relative;
	padding: 100px 0 100px 117px;
	display: flex;
}

#contact form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#contact form h3 {
	font-size: 1.75rem;
}

#contact form label {
	cursor: pointer;
}

#contact form input {
	width: 82%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
	padding: 10px;
}

#contact form textarea {
	width: 82%;
	background-color: transparent;
	border: solid 1px;
	height: 6em;
	margin-bottom: 20px;
	padding: 10px;
	resize: none;
}

#contact form button {
	background-color: #BEB45A;
	padding: 0.5em 1em;
	border: solid 1px;
	width: 82%;
}

#contact .camera-zone {
	flex: 1;
	display: flex;
	justify-content: center;
}

#contact .camera-zone .camera {
	width: 58%;
	z-index: 2;
}

#contact .camera-zone .camera img {
	width: 100%;
}

#contact .camera-zone .camera::before {
	content: '';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

/* >==================== MAIN OFF ====================> */


/* <==================== FOOTER ON ====================< */
footer {
	background-color: #222222;
	color: #fff;
	padding: 60px 60px 20px;
	display: flex;
}


footer .info {
	width: 70%;
}

footer .info h4 {
	font-size: 2rem;

}

footer .info ul {
	list-style: none;
	padding: 0;
}

footer .info ul li {
	display: flex;
	align-items: center;
	margin: 0 0 10px 0;
	color: #ffffff;
}

footer .info ul li i {
	font-size: 20px;
	margin: 0 5px 0 0;
}


footer .social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
}

footer .social .icones {
	display: flex;
	justify-content: flex-end;
	
}

footer .social .icones a i {
	color: #ffffff;
	font-size: 20px;
	margin: 0 5px;
	transition: all 0.3s ease;
}

footer .social .icones a i:hover {
	color: #fff175;
}

footer .social .copyright {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
}


/* >==================== FOOTER OFF ====================> */


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

.modal-container.active-modal {
    display: block !important;
}

.modal-container .overlay {
    position: absolute;
    background: #333333d3;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.modal-container .modal {
    position: absolute;
    width: 480px;
    height:80%;
    background: #ffffff;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container .modal img {
    width: 100%;
	height: 100%;
	max-width: 440px;
	padding: 15px;
	object-fit: contain;
	position: relative;
	display: none;
}
.modal-container .modal img.image-active-in-modal {
	display: block;
}


.modal-container .modal button {
   font-size: 20px;
   position: absolute;
   border-radius: 50%;
   padding: 0 9px;
   border: solid #e6f7ffe0 1px;
   cursor: pointer;
   background: white;
   z-index: 11;
}

.modal-container .modal button:active {
	background: #cad8dfe0;
 }
.modal-container .modal .back {
	top: 50%;
	left: 1px;
 }
 
 .modal-container .modal .next {
	top: 50%;
	right: 2px;
 }


/* <==================== RESPONSIVE ON ====================< */
@media screen and (max-width: 1180px) {
	.picture {
		flex: 2;
	}

	#about,
	#contact .container {
		align-items: center;
	}

	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}

	#about-me h6,
	#about-me p {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	#about {
		flex-direction: column;
	}

	#about .portrait::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}

	#about .about-me h2 {
		text-align: center;
		margin-top: 1em;
	}

	#about .about-me p, #about .about-me .introduction  {
		width: 100%;
	}

	#about .portrait {
		width: 50%;
	}
	#gallery .quote figure{
		width: 100%;
	}
	.quote figure blockquote h3, .quote figure blockquote h4 {
		font-size: calc(1.375rem + 1.5vw);
	}

	#services .container {
		flex-direction: column;
	}

	#services .container .service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}

	#services .container .service  .description {
		margin-bottom: 1em;
	}

	#services .container::before {
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact {
		flex-direction: column;
		padding-inline: 0;
	}

	#contact form {
		width: 80%;
		margin-inline: 100px;
	}
	#contact .camera-zone{
		margin-top: 40px;
	}
	#contact .camera-zone .camera {
		width: 40%;
	}

	#contact .camera-zone .camera::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	
	.modal-container .modal{
		height: 50%;
	}
}

@media screen and (max-width: 650px) {
	header {
		flex-direction: column;
		padding-inline: 0;
	}

	header nav{
		width: 100%;
		padding-bottom: 30px;
	}
	header nav ul{
		display: flex;
		justify-content: space-around;
	}


   

	


}